.GI565tbmxjb0QnnAlGVdb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  grid-area: header;
  background-color: #ddd;
}
.GI565tbmxjb0QnnAlGVdb h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.GI565tbmxjb0QnnAlGVdb button {
  min-width: 100px;
  min-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.GI565tbmxjb0QnnAlGVdb button p {
  margin: 0;
  padding-left: 0.5rem;
  font-size: 0.96rem;
}
.GI565tbmxjb0QnnAlGVdb span {
  min-width: 100px;
}
@media only screen and (min-width: 20px) and (max-width: 460px) {
  .GI565tbmxjb0QnnAlGVdb h1 {
    font-size: 1.1rem;
  }
  .GI565tbmxjb0QnnAlGVdb button {
    min-width: auto;
  }
  .GI565tbmxjb0QnnAlGVdb span {
    min-width: 36px;
  }
  .GI565tbmxjb0QnnAlGVdb p {
    display: none;
  }
}

._2QxHmRplYApR5tbV-8roo7 {
  display: grid;
  height: 100vh;
  grid-template-areas: 'header' 'form';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}
._2G0JvtbHYulhlt-RlvR01R {
  grid-area: header;
}
._1CS7wmtE6W7GJq-NNDO9x7 {
  grid-area: form;
  width: 100%;
}
._3be0Zaxml625HIyNbznh4m {
  padding: 10px;
  padding-top: 20px;
}
._3be0Zaxml625HIyNbznh4m button {
  min-width: 100px;
  min-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._3be0Zaxml625HIyNbznh4m button p {
  margin: 0;
  padding-left: 0.5rem;
  font-size: 0.96rem;
}
._3-ZspcFf4YFuq-PPySjRhN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  max-width: 768px;
}
._3-ZspcFf4YFuq-PPySjRhN label {
  margin-bottom: 5px;
  font-size: 0.98rem;
  font-family: sans-serif;
  font-weight: 600;
}
._3-ZspcFf4YFuq-PPySjRhN input {
  font-size: 1.1rem;
}
._3-ZspcFf4YFuq-PPySjRhN textarea {
  font-size: 1rem;
  resize: vertical;
}
._2G-TaSfwmkCbpnEzw_zOFP {
  color: red;
  margin-top: 5px;
  font-size: 0.98rem;
  font-family: sans-serif;
  font-weight: 600;
}

